

/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

section.main-message {
  padding: 40px 0 40px 0;
}

.jumbotron {
  background: url(../img/bg1.png) no-repeat top center;
  height: 420px;
}

img.freud {
  width:100%;
  max-width: 200px;
  padding: 3px;
  border: 1px solid #ccc;
}

img.digitallife {
  width: 100%;
  max-width: 310px;
  padding: 3px;
  border: 1px solid #ccc;
}

.demystify {
  width: 100%;
  max-width: 310px;
  padding: 3px;
  border: 1px solid #ccc;
}

.taming {
  width: 100%;
  max-width: 310px;
  padding: 3px;
  border: 1px solid #ccc;
}

/*section#feature {
  background-color: #eb9316;
  color: #fff;
  padding: 40px;
  overflow: auto;
}*/